<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.english_study">

    <!-- 권한: 반드시 <application> 바깥 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Android 12 이하 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 카메라가 없는 기기에서도 설치 가능하게 (선택) -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <!-- Flutter 엔진이 텍스트 처리 액티비티 조회할 때 필요 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <application
        android:label="english_study"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <!-- 메인 액티비티 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 카카오 로그인 -->
        <activity android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="naverkYXXRpu46xAUm1Bx3xWr" android:host="login" />
                <data android:scheme="kakao9da25abebbee7a0c2b346f01bbbe9a32" android:host="oauth" />
            </intent-filter>
        </activity>

        <!-- Flutter Embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />


    </application>
</manifest>
